


* {
    box-sizing : border-box;
}





body {
    /* 0.25turn will rotate counterclockwise a quarter of a full spin*/
    font-family : 'Gill Sans', 'sans-serif';
    background-color : #333;
    color : #222;
    overflow : hidden;
    margin : 0;
}



.container {
    background-color : #fafafa;
    transform-origin : top left;
    width : 100vw;
    min-height : 100vh;
    padding : 50px;
    z-index : 100;
}

.container.show-nav {
    transform : rotate(-30deg);
}

.container .circle-container {
    border-style : bold;
    background-color : #fafafa;
    border-radius : 30px;
    position : fixed;
    width : 300px;
    height : 300px;
    top : -150px;
    left : -150px;
    border-radius : 50%;
}

.container .circle-container .circle {
    background-color : #ff7979;
    height : 300px;
    width : 300px;
    border-radius : 50%;
    position : relative;
    transition : transform 0.5s linear;
}

.container .circle-container .circle button {
    cursor : pointer;
    position : absolute;
    top : 50%;
    left : 50%;
    height : 100px;
    background : transparent;
    border : 0;
    font-size : 26px;
    color : #fff;
}

.container .circle-container .circle button:focus {
    outline : none;
}


.container .circle-container .circle button#open {
    left : 60%;
}

.container .circle-container .circle button#close {
    top : 60%;
    transform : rotate(90deg);
    transform-origin : top left;
}

nav {
    position : fixed;
    bottom : 40px;
    left : 0px;
    z-index : -100;
}

nav ul {
    list-style-type: none;
    padding-left : 30px;
}

nav ul li {
    text-transform : uppercase;
    color : #fff;
    margin : 40px 0;
}

nav ul li:hover {
    cursor : pointer;
}

nav.show-nav ul li:hover {
    cursor : default;
}

nav ul li {
    font-size : 20px;
    margin-left : 10px;
}

nav ul li i {
    font-size : 20px;
    margin-right : 20px;
}