


/*
    How to use linear-gradient()


    A gradient tilted 45 degrees,
    starting blue and finishing red
linear-gradient(45deg, blue, red)

    A gradient going from the bottom right to the top left corner,
    starting blue and finishing red
linear-gradient(to left top, blue, red)

    Interpolation in rectangular color space
linear-gradient(in oklab, blue, red)

    Interpolation in polar color space
linear-gradient(in hsl, blue, red)

    Interpolation in polar color space
    with longer hue interpolation method
linear-gradient(in hsl longer hue, blue, red)

    Color stop: A gradient going from the bottom to top,
    starting blue, turning green at 40% of its length,
    and finishing red
linear-gradient(0deg, blue, green 40%, red)

    Color hint: A gradient going from the left to right,
    starting red, getting to the midpoint color
    10% of the way across the length of the gradient,
    taking the rest of the 90% of the length to change to blue
linear-gradient(.25turn, red, 10%, blue)

    Multi-position color stop: A gradient tilted 45 degrees,
    with a red bottom-left half and a blue top-right half,
    with a hard line where the gradient changes from red to blue
linear-gradient(45deg, red 0 50%, blue 50% 100%)

*/




body {
    /* 0.25turn will rotate counterclockwise a quarter of a full spin*/
    background: linear-gradient(to left top, #3f87a6, #ebf8e1, #f69d3c);
    /* background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%); */
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

header {
    width: 90%;
    height: 10vh;
}

header center {
    font-size: large;
    color: rgb(255, 0, 247);
    border-style: dotted;
}

header div #page_info {
    width: 90%;
    height: 90vh;
    background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%);
}